# define variables

snippet "~im?.mui.button" r
import Button from '@material-ui/core/Button';
${0:${VISUAL}}
endsnippet

snippet "~im?.mui.textfield" r
import TextField from '@material-ui/core/TextField';
${0:${VISUAL}}
endsnippet

snippet "~im?.mui.checkbox" r
import Checkbox from '@material-ui/core/Checkbox';
${0:${VISUAL}}
endsnippet
