# create a controller
snippet ynn.co?n?t?r?o?l?l?e?r?
import { Controller, Post, Get, Put, Delete, Body, Query, Param } from '@ynn/http';

@Controller( ${1} )
export class ${2}Controller {
	constructor() {}

	${0:${VISUAL}}
}
endsnippet

snippet ynn.c.crud
import { Controller, Post, Get, Put, Delete, Body, Query, Param } from '@ynn/http';
import {} from '../../interfaces';

@Controller( ${1} )
export class ${2}Controller {
	constructor() {}

	@Get( ':id' )
	async get(): Promise<> {
	}

	@Post()
	async create(): Promise<{ id: string }> {
	}

	@Delete( ':id' )
	async delete(): Promise<void> {
	}

	@Put( ':id' )
	async update(): Promise<void> {
	}
}
endsnippet

# new Ynn 
snippet ;;ynn "new Ynn()"
new Ynn( {
	root : __dirname,
	debugging : ${1:false},
	logging : ${2:true}${0:${VISUAL}}
} );
endsnippet

# Ynn Initialize
snippet ;;y.i "const Ynn = require( 'ynn' ); ... module.exports = app;"
const Ynn = require( 'ynn' );

const app = new Ynn( {
	root : __dirname,
	debugging : ${1:false},
	logging : ${2:true}${0:${VISUAL}}
} );

module.parent || app.listen( Ynn.cargs.port );
module.exports = app;
endsnippet

# ynn controller
snippet ;;y.c "class extends Ynn.Controller {};"
const Ynn = require( 'ynn' );

module.exports = class${1: }extends Ynn.Controller {
	${0:${VISUAL}}
}
endsnippet

# ynn service
snippet ;;y.s "class extends Ynn.Service {};"
const Ynn = require( 'ynn' );

module.exports = class${1: }extends Ynn.Service {
	${0:${VISUAL}}
}
endsnippet

# ynn action
snippet ;;y.a "indexAction() {}"
${1:index}Action() {
	const { ctx } = this;
	const { query } = ctx;
	const { body } = ctx.request;
	${0:${VISUAL}}
}
endsnippet

# ynn action
snippet ;;y.aa "async indexAction() {}"
async ${1:index}Action() {
	${0:${VISUAL}}
}
endsnippet

# ynn plugin
snippet ;;y.p "module.exports = ( app, options ) => { ... }"
module.export = ( app, options = {} ) => {
	const {
		name = '${1:email}',
		config = app.config( name, {} )
	} = options;

	//const alias = name.toString();

	app[ name ] = () = {
		${0:${VISUAL}}
	}
}
endsnippet

# ynn console

# this.console.log
snippet ;;y.cl "this.console.log( 'abc' );"
this.console.log( ${1} );
endsnippet

# this.console.warn
snippet ;;y.cw "this.console.warn( 'abc' );"
this.console.warn( ${1} );
endsnippet

# this.console.debug
snippet ;;y.cd "this.console.debug( 'abc' );"
this.console.debug( ${1} );
endsnippet

# this.console.error
snippet ;;y.ce "this.console.error( 'abc' );"
this.console.error( ${1} );
endsnippet

# this.console.info
snippet ;;y.ci "this.console.info( 'abc' );"
this.console.info( ${1} );
endsnippet

# ynn logger

# this.logger.log
snippet ";;y.ll?" "this.logger.log( 'abc' );" r
this.logger.log( ${1}, ${2:\{\}} );
endsnippet

# this.logger.error
snippet ;;y.le "this.logger.error( 'abc' );"
this.logger.error( ${1}, ${2:\{\}} );
endsnippet

# this.logger.warn
snippet ;;y.lw "this.logger.warn( 'abc' );"
this.logger.warn( ${1}, ${2:\{\}} );
endsnippet

# this.logger.info
snippet ;;y.li "this.logger.info( 'abc' );"
this.logger.info( ${1}, ${2:\{\}} );
endsnippet

# __ynn__.server
snippet ;;y._s "__ynn__.server" i
__ynn__.server
endsnippet

# ${__ynn__.server}
snippet ;;y.$_s "${__ynn__.server}" i
${__ynn__.server}
endsnippet

# const ctx = this.ctx; const query = ctx.query;
snippet ;;y.query "const ctx = this.ctx; const query = ctx.query" i
const ctx = this.ctx;
const query = ctx.query;
endsnippet

# const ctx = this.ctx; const body = ctx.body;
snippet ;;y.body "const ctx = this.ctx; const body = ctx.request.body" i
const ctx = this.ctx;
const body = ctx.request.body;
endsnippet

# ynn dataclass
snippet ynn.dataclass
import { Dataclass, Property } from '@ynn/core';

@Dataclass()
export class ${1}Data {
	@Property()
	declare ${0:${VISUAL}}
}
endsnippet

# ynn standard service

snippet ynn.service
import { Injectable } from '@ynn/injection';
import { ProjectionType } from 'mongoose';
import { MongoQueryOptions } from '@ums/library';
import { ${1}, $1Creation, $1FindCondition, $1Update } from '@${2}/common/interfaces';
import { $1Model } from '../models';

@Injectable()
export class $1Service {
    constructor(
        private model: $1Model${0:${VISUAL}}
    ) {}

    async create( data: $1Creation ): Promise<$1> {
        return this.model.insert( data );
    }

    async get(
		id: string,
		projection?: ProjectionType<$1>,
		options?: MongoQueryOptions<$1>
	): Promise<$1 | null> {
        return this.model.get( { id }, projection, options );
    }

    async update( id: string, data: $1Update ): Promise<$1 | null> {
        return this.model.update( { id }, {
            $set : data
        } );
    }

    async delete( id: string ): Promise<$1 | null> {
        return this.model.delete( { id } );
    }

    async findByIds(
		ids: string[],
		projection?: ProjectionType<$1>,
		options?: MongoQueryOptions<$1>
	): Promise<$1[]> {
        return this.model.find( { id : { $in : ids } }, projection, options );
    }

    async find(
		condition: $1FindCondition,
		projection?: ProjectionType<$1>,
		options?: MongoQueryOptions<$1>
	): Promise<$1[]> {
        return this.model.find( condition, projection, options );
    }
}
endsnippet

snippet ynn.search-service
import { estypes } from '@elastic/elasticsearch';
import { Injectable } from '@ynn/injection';
import { createPaginateSearchOptions, ElasticSearchService, LoggerService } from '@ums/library';
import { PaginateSearchOptions } from '@ums/library/interfaces';
import { ${1}, $1SearchCondition } from '@${2}/common/interfaces';
import { $1Model, $1SearchModel } from '${3}/models';
import { $1Service } from './${1/\w+/\l$0/g}.service';

@Injectable()
export class $1SearchService extends ElasticSearchService<$1> {
    constructor(
        public model: $1SearchModel,
        public ${1/\w+/\l$0/g}Model: $1Model,
        public logger: LoggerService,
        public ${1/\w+/\l$0/g}Service: $1Service
    ) {
        super();
        ${1/\w+/\l$0/g}Model.watch( [], {
            fullDocumentBeforeChange : 'required',
            fullDocument : 'updateLookup'
        } ).on( 'change', change => {
            const id = change.fullDocumentBeforeChange?.id ?? change?.fullDocument?.id;
            id && this.index( id );
        } );
    }

    async index( id: string ): Promise<void> {
        const ${1/\w+/\l$0/g} = await this.${1/\w+/\l$0/g}Service.get( id );

        if( !${1/\w+/\l$0/g} ) {
            await this.model.delete( id );
            return;
        }

        await this.model.create( ${1/\w+/\l$0/g} );
    }

    async search(
        conditions?: $1SearchCondition,
        options?: PaginateSearchOptions
    ): Promise<estypes.SearchResponse<{ id: string }>> {
        const { query${4} } = conditions ?? {};

        const filter: estypes.QueryDslQueryContainer[] = [];

        const condition: estypes.QueryDslQueryContainer[] = [];

		if( query ) {
			condition.push( {
				${0:${VISUAL}}
			} );
		}

        const searchQuery = {
            query : { bool : { must : condition, filter } },
            _source : [ 'id' ],
        	sort : estypes.Sort = [
				'_score',
				{
					createdAt : {
						order : 'desc',
						format : 'basic_date_time'
					}
				}
			],
            ...createPaginateSearchOptions( options )
        };

        this.logger.info( 'search ${1/\w+/\l$0/g}', searchQuery );

        return this.model.search( searchQuery );
    }

    async indexAll(): Promise<void> {
        const data = await this.${1/\w+/\l$0/g}Service.find(
            {},
            { id : 1 },
            { paginate : { rn : 100000 } }
        );

        this.logger.info( 'start to index all ${5:${1/\w+/\l$0/g}s}', {
            total : data.length,
            time : +new Date
        } );

        for( const item of data ) {
            this.logger.info( 'indexing ${1/\w+/\l$0/g}', {
            } );
            // eslint-disable-next-line no-await-in-loop
            await this.index( item.id );
        }

        this.logger.info( 'finish indexing all ${5:${1/\w+/\l$0/g}s}', {
            time : +new Date
        } );
    }
}
endsnippet
